body{
    background-color: #3498DB ;
}
form{
    border-radius: 5px;
    padding: 10px;
    background-color: #D6EAF8;
    margin: 0 auto;
    width: 300px;
}
input, textarea{
    outline: none;
    border: 0;
    width: 280px;
}
.campos{
    border: solid 1px #ccc;
    padding: 6px;
    
    border-radius: 5px;
}
.campos:focus{
    border-color: rgb(18, 24, 27);
}
.center-content{
    text-align: center;
}
.fromboton{
    color: black;
    padding: 8px;
    border-radius: 3px;
    background-color: #3498DB;
    font-weight: bold;
}
.formtitulo{
    font-weight: bold;
    text-align: center;
}